.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.35
}
.sidebarHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-right: 1px solid lightgray;
}
.sidebarheaderRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebarheaderRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important; 
}

.sidebarSearch {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 25px;
    padding: 10px;
    border-right: 1px solid lightgray;
}

.sidebarsearchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 15px;
    border-radius: 20px;
    padding: 10px;
}

.sidebarsearchContainer > .MuiSvgIcon-root {
    color: gray;
    /* padding: 10px; */
}

.sidebarsearchContainer > input {
    border: none;
    margin-left: 10px;
    outline: none;
}

.sidebarChats {
    flex: 1;
    background-color: white;
    overflow: scroll;
    border-right: 1px solid lightgray;
}

.sidebarChats::-webkit-scrollbar {
    display: none;
}